/* style.css */

@import url('https://fonts.googleapis.com/css?family=Jost:300,400,600i,900&display=swap');
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/rainbow-unsplash.jpg');
    object-fit: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.song-title {
    margin: 1em 0;
    font-weight: 900;
    color: rgb(195, 222, 248);
}

.line {
    margin: 0.25em 0;
}

.chorus {
    font-weight: 600;
}

.chorus, .verse {
    margin: 1em 0 1em 2em;
    font-size: 1.4rem;
}

#lyrics {
    background-color: rgba(248, 232, 245, 0.3);
    padding-top: 1em;
    padding-bottom: 1em;
}

.credits {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    color: palevioletred;
}

.fas, .fab {
    font-size: 2rem;
    color: palevioletred;
}

.listen-icon-links {
    list-style-type: none;
    display: flex;
    /* background: red; */
}

.listen-icon {
    margin-left: 1em;
}